In [1]:
# You are given a two variables A and B. List in front of them are their values. Write a Python code to convert this into a pandas DataFrame.
 
# Input: 'A' : [1,2,3,13,4,None,9,5,6,10,11,12] , 'B' : [11,12,6,None,13,14,191,5,6,10,6,20]

In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame()

In [5]:
A = [1,2,3,13,4,None,9,5,6,10,11,12] 
B = [11,12,6,None,13,14,191,5,6,10,6,20]

In [6]:
A

[1, 2, 3, 13, 4, None, 9, 5, 6, 10, 11, 12]

In [7]:
B

[11, 12, 6, None, 13, 14, 191, 5, 6, 10, 6, 20]

In [11]:
df['A'] = pd.Series(A)
df['B'] = pd.Series(B)

In [12]:
df

       A      B
0    1.0   11.0
1    2.0   12.0
2    3.0    6.0
3   13.0    NaN
4    4.0   13.0
5    NaN   14.0
6    9.0  191.0
7    5.0    5.0
8    6.0    6.0
9   10.0   10.0
10  11.0    6.0
11  12.0   20.0

In [14]:
a_column_mean = df['A'].mean()
a_column_median = df['A'].median()

In [15]:
a_column_mean

6.909090909090909

In [16]:
a_column_median

6.0

In [18]:
b_column_median = df['B'].median()
b_column_median

11.0

In [19]:
#Write a Python code that takes a string and reverses the words in it. For example, 'Hello World' becomes 'World Hello'.Input: 'The quick brown fox'",

In [ ]:
string = 'The quick brown fox'
len(string)
len(string)

In [58]:
def reverse_words_alt(text):
    words = text.split()
    return ' '.join(reversed(words))

reverse_words_alt(string)

'fox brown quick The'

In [49]:
# Given a string, write a Python function to remove all vowels from it and return the modified string.Input: 'Hello, how are you?'",
# Hll r y?

In [62]:
inp = 'Hello, how are you?'

result = ''
for i in range(0,len(inp)):
    if ((inp[i] == 'a'or inp[i] == 'A') or (inp[i] == 'e'or inp[i] == 'E') or (inp[i] == 'i'or inp[i] == 'I' ) or (inp[i] == 'o' or inp[i] == 'O') or (inp[i] == 'u'or inp[i] == 'U')):
        pass
    else:
        result = result + inp[i]
print(result)

Hll, hw r y?

In [54]:
vowels = ['A','E','I','O','U','a','e','i','o','u']

result = ''
for i in inp:
    if i not in vowels:
        result = result + i
    
print(result)

Hll, hw r y?